/*Font Passion One from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Playfair+Display&family=Roboto+Slab&family=Sacramento&display=swap');

/*Creates global CSS variables that can be reused 
throughout the file*/
:root{
    --main-color: rgb(126, 133, 130);
    --main-color-accent: rgb(237, 192, 3);
    --main-color-transparent: rgba(126, 133, 130, 0.8);
    --secondary-color: rgba(128, 0, 0, 0.9);
    --accent-color: rgb(36, 36, 36);
    --accent-text-color: rgb(255, 255, 255);
    --main-font-family: 'Passion One', cursive;
}

body{
    background-image: url(../Images/theater-curtains.jpg);
    background-size: 100%;
}

/*NAVBAR*/

.navbar{
    background-color: var(--secondary-color);
    border-bottom: 5px solid rgb(98, 0, 0);
    height: 100px;
}

/*Affects the title in the navbar Academy Cinemas*/
.navbar-brand{
    color: var(--main-color-accent);
    font-family: var(--main-font-family);
    font-size: 45px;
    padding-left: 30px;
}

.nav-link{
    color: var(--main-color-accent);
    font-family: var(--main-font-family);
    font-size: 35px;
}

/*Affects the hover state of the links in the navbar*/
.nav-link:hover{
    color: var(--main-color-transparent);
    text-shadow: 0 0 3px rgba(255, 123, 0, 0.6);
}

/*Sets the color of the link that has been clicked on
in other words the "active linke"*/
.nav-link:focus{
    color: var(--accent-text-color);
    text-shadow: 0 0 3px rgba(255, 123, 0, 0.6);
}

/*Adjusts the left padding of the navbar links*/
.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 1.5rem;
}

/*MOVIE DROP DOWN MENU*/

/*Targets the drop down menu that contains the links for
each movie title*/
.dropdown-menu{
    border: none; /*Removes teh thin black border*/
    border-radius: 0;
    box-shadow: 0px 0px 16px 2px rgba(o, 0, 0, 0.4);
    background-color: var(--main-color);
    padding: 0px; /*Overrides Bootstraps padding on the
    top and bottom of the drop down menu*/
}

/*Sets up the styling for each movie link in the 
drop down menu*/
.dropdown-item{
    color: var(--accent-color);
    font-family: var(--main-font-family);
    text-align: center;
    font-size: 30px;
    padding-top: 15px; /*Adds some space to the top of
    each link to center them*/
    padding-bottom: 20px; /*Adds some space to the bottom
    of each link to center them*/
    border-bottom: 2px solid rgb(117, 77, 13);
}

.dropdown-item:hover, .dropdown-item:focus{
    color: var(--accent-text-color);
    background-color: var(--main-color);
}

/*MOBILE MENU*/

.navbar-toggler{
    border: none;
    transition: 0.5s ease;
}

.navbar-toggler:focus{
    box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width) rgb(98, 0, 0);
    transition: 0.5s ease;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28237, 192, 3%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
