
/*Import link for the creepster font from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Mukta&family=Roboto&display=swap');
/*Import link for eater font from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Eater&family=Mukta&family=Roboto&display=swap');

body{
    background-color: black;
    overflow-x: hidden;
}


h1{
    font-family: "Creepster"; /*Font from fonts.google.com*/
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: white;
    text-decoration: none;
}

h3{
    font-family: "Eater", sans-serif;
    color: white;
    text-align: left;
    
}
nav{
    text-align: center;
}

/*IMAGE ONE*/

.overlay:hover{
    opacity: 0.5;
    transition: .9s ease;
    background-color: black;
}

.zoom{
    transform: scale(1);
    transition: 0.7 ease-out;
    z-index: 3;
}  
 
.zoom:hover{
    transform:scale(1.55);
    transition: 0.5s ease-out;
}