/*Affects entire document*/
html {
    scroll-behavior: smooth; /*This ensures page scrolling is smooth when
    the buttons on the nav bar is clicked*/
}

body{
    margin: 0%; /*Ensures site displays all the way to the edge of the
    browser screen*/
    opacity: 1; /* This & transition affect the page loading fade in effect*/
    transition: 3s opacity;
    letter-spacing: .2vw; /*vw is relative measurement, 1vw is equal to 1%
    of the viewport width*/
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw;
    overflow-x: hidden; /*This prevents horizontal scroll bar from appearing
    when the quote is hovered over*/
    user-select: none; /*Prevents text on webpage from being highlighted
    by the user*/
}

/*Heading 1 elements*/
h1{
    text-transform: uppercase; /*This capitalizes all h1 headings*/
    font-family:"Trebuchet MS", Optima;
    text-align: center;
    margin-top: 3%; /*adds small margin above h1 elements*/
    color: #1a1a1a
}

h1:hover{
    filter: grayscale(5%);
    transform: scale(1.1);
    transition: transform 1s;
    color: rgb(5,42,97);
}

/*Styling for Portfolio Title Text*/
.white-text{
    color: #fff;
}
/*Paragraph elements*/
p{
    font-family:"Trebuchet MS", Optima;
    text-align: justify; /*Justifies the text within paragraph elements*/
    letter-spacing: 1vw; /*This expands text slightly*/
    font-size: 1.8vw; /*Relative font sizing equal to 2.5% of the viewport width*/
    padding-left: 1vw; /*Relative padding equal to 1% of the viewport width*/
    padding-right: 1vw; /*Relative padding equal to 1% of the viewport width*/
}

p:hover{
    transition: transform 1s;
    transform: scale (1.01);
}

.center{
    text-align: center;
}

.center:hover{
    transition: transform 2s;
    transform: scale(1.1);
    color: rgb(71, 137, 236);
}
/*Anchor Elements*/
a{
    color: rgb(71, 137, 236);
    cursor: pointer; /*Ensures all links change the mouse to a pointer
    when hovered over or clicked*/
    text-decoration: underline; /*Ensures all links are underlined*/
}

q{
    font-style: italic;
}

img{
    filter:grayscale(75%);
    border-radius: 8px;
    max-width: 100%;
    height: 100%; /*Ensures all images stay within the height of their container*/
    display: block;
    margin: auto auto auto auto; /*This centers all images*/
}

img:hover{
    filter: grayscale(5%);
    transition: transform 1s;
    transform: scale(1.1);
}

@media screen and (max-width: 576px) {
    img{
        height: 100px;
        margin-top: 150px;
    }
}

footer{
    padding: 2%;
    background-color: white;
}

.Navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s;
}

/*Animation effect for moving the nav bar in from above the left
of the screen on page load*/
@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw}
}
/*Navbar links*/
.Navbar a{
    float: left;
    display:block;
    color:white;
    padding: .75vw 1vw;
    text-decoration: none;
    font-family:"Trebuchet MS", Optima;
    font-size: 1.5vw;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 5.75s;
    animation: moveNavText 5.75s;
}
/*The animation effect for moving the nav bar links in from above the top of
the screen on page load*/
@keyframes moveNavText {
    from {top: -100vw;}
    to {top: 0vw;}
}

@media screen and (max-width: 576px) {
    .Navbar a{
        width: 25%;
        font-size: 12px;
    }
}

.Navbar a:hover {
    background-color: rgb(71, 137, 236);
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in; /*Creates smooth transition for the hover trigger*/
}

.Navbar a.active {
    background-color: #4d4d4d;
}

#Typing_Video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
}

@media screen and(max-width: 576px) {
    #Typing_Video {
        display: none;
    }
}

.Video_Text {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    padding: 5px;
    position: relative;
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}

@keyframes moveVideoText {
    from {top: -100wv;}
    to {top: 0vw;}
}

* { /* The asterisk is a universal selector that applies this effect to all elements on the page */
    box-sizing: border-box;
}
/*Slideshow Styling*/
#Slideshow_Background {
    background: rgba (255, 255, 255, 0.35); /*Creates a slightly transparent
    white background that's placed over the video in the background*/
}

.mySlides{
    display: none; /*This prevents images from being displayed-will use JS
    to display these*/
}

/*Slideshow section/container*/
#Slideshow_Container {
    width: 39.5vw; /*Relative sizing of the container for the slideshow set
    to 39.5% of the viewport width*/
    height: auto; /*The height of the container is automatically adjusted based on the
    content it is displaying*/
    padding-top: 4%; /*Adds small padding to top of slideshow container*/
    position: relative; /*This sets the container relative to its normal positioning*/
    margin: auto; /*this will horizontally center the container on the page*/
}
/*Remove underline from teh previous and next buttons to slideshow*/
#Slideshow_Container a {
    text-decoration: none;
}

/*Images contained within the slideshow*/
.Slideshow_Images {
    vertical-align: middle; /* This centers the images vertically within
    slideshow container*/
    height: auto; /*The height of the images is automatically adjusted based on
    the content, ie if your images are different sizes, they will display as diff sizes*/
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, 0.75); /*Add a shadow around
    the slideshow images*/
    width: 100%; /*The width of the images is automatically adjusted based
    on the content*/
}

/*Next and previous buttons*/
.Previous, .Next {
    cursor: pointer;
    position: absolute; /*This makes the next and previous buttons positioned relative
    to the slideshow container*/
    top: 50%; /*moves buttons up in the slideshow container*/
    width: auto; /*width of buttons automatically adjusted based on content*/
    padding: 2vw;
    color: black;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0; /*Adds slightly rounded border on top and bottom
    right corners*/
    user-select: none; /*Property makes it so that the user can not hightlight
    the text*/
    transition: 0.6s ease; /*This specifies the details of the hover transition for these elements*/
}

/*positioning the next button on the right hand side*/
.Next {
    right: 0; /*This moves the next button to the right side of the slideshow
    container*/
    border-radius: 3px 0 0 3px; /*This changes the border radius on the next
    button to the top and buttom left of the button*/
}

/*Hover effect on slide show buttons*/
.text1 {
    color:white;
    padding: 1vw;
    position: absolute; /*This ensures the text is positioned within the image*/
    bottom: 0; /*This property sets the text at the bottom of the image*/
    width: 100%; /*The element covers the full width of the image*/
    text-align: center; /*The text is center aligned within the image*/
    font-family:"Trebuchet MS", Optima;
    letter-spacing: 1.5vw; 
    font-size: 1.5vw; /*Font size is relative to the size of the viewport width*/
    background-color: rgba(o,0,0,0.75);/*Gives a slightly transparent black background*/
    font-weight: bold;
    border-radius: 0px 0px 7px 7px;/*Gives the text background rounded corners on
    the bottom left and right corners*/
}

.text {
    color: black;
    padding: 1vw;
    position: absolute; /*This ensures the text is positioned within the image*/
    bottom: 0; /*This property sets the text at the bottom of the image*/
    width: 100%; /*The element covers the full width of the image*/
    text-align: center; /*The text is center aligned within the image*/
    font-family:"Trebuchet MS", Optima;
    letter-spacing: 1.5vw; 
    font-size: 1.5vw; /*Font size is relative to the size of the viewport width*/
    background-color: rgba(o,0,0,0.75);/*Gives a slightly transparent black background*/
    font-weight: bold;
    border-radius: 0px 0px 7px 7px;/*Gives the text background rounded corners on
    the bottom left and right corners*/
}

/*Styling of the dots under the slideshow*/
.dot {
    cursor: pointer; /* cursor changes to pointer when hovered over the dots*/
    height: 1vw; /* The dots are sized relative to the viewport width*/
    width: 1vw;
    margin: .25vw; /*adds additional spacing between the dots*/
    background-color: white; /*Makes the dots white*/
    border-radius: 50%; /*Makes the dots circles by rounding each corner*/
    display: inline-block; /*Allows teh dots to sit next to each other rather
    than on a new line*/
    transition: background-color 0.6s ease; /*When clicked on the dots transition
    to a different color when clicked or hovered over (the affect is defined below)*/
    z-index: 1; /*This ensures the dots will be displayed above any other elements*/
}

/*Hover effect for slideshow dots*/
.active, .dot:hover {
    background-color: black; /*Sets the color of the dots when active or hovered over*/
}

/*Fading animation for slideshow*/
.fade {
    animation-name: fade; /*Fade aniation is defined below*/
    animation-duration: 1.5s; /*The animation lasts 1.5 seconds*/
    -webkit-animation-name: fade; /*Same as above for Safari 4.0-8.0*/
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;} /*Image starts transparent*/
    to {opacity: 1;} /*Image ends opaque*/
}

@keyframes fade {
    from {opacity: .4;} /*Image starts transparent*/
    to {opacity: 1;}/*Image ends opaque*/
}
/*********End Slideshow Styling***********/

/*Table Styling- This section covers the styling of the columns and rows 
within the table */
* { /*The asterisk is a universal selector that applies this effect to all elements on the page*/
box-sizing: border-box; /*This creates a box with a border within which we will pace
most of our text*/
}

.Column_1 { 
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 450px;
    background-color: #f2f2f2;
}

@media screen and (max-width: 576px) {
    .Column_1{
        overflow: auto;
    }
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 450px;
    background-color: #4d4d4d;
}

.Column_tall{
    padding-top: 3.5%;
    height: 450px;
}

/*This inserts something after the content of selected elements (in this
case the elements w/ class "Row")*/
.Row:after {
    content: ""; /*By leaving this blank, we allow the footer to be displayed*/
    display: table;
    clear: both;
} /*End of Table Styling*/

/****Contact Form Styling****/
/*Button used to open the contact form-fixed at bottom of page*/
.Pop_Up_Button {
    position: fixed; /*stays in same location no matter what*/
    bottom: 1.75vw; /*Positions button slightly up from bottom of viewport*/
    right: 1.75vw;
    width: 25vw;
    background-color: white;
    color: black;
    border: solid black; /*solid black border around button*/
    cursor: pointer;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
}
/*movePopup animation moves the button from off the right side of the screen
to its fixed location on the viewport*/
@keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}
@-webkit-keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}


/*Styling for the contact form*/
.form-popup {
    z-index: 8; /*This z-index ensures the contact form shows above all
    other elements on the page*/
    display: none; /*Set display to none, we will use JavaScript to show contact form*/
    position: fixed;
    bottom: .5vw;
    right: .5vw; 
}

/*Form Styling*/
.form-container {
    max-width: 49vw; /*Relative sizing of the form container - 49% of the 
    viewport width*/
    padding: 1vw;
    background-color: white;
    
}

input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family:"Trebuchet MS", Optima;
}

input[type=text]:hover {
    box-shadow: 0 0 5px rgb(71, 137, 236) inset;
}

input[type=submit] {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family:"Trebuchet MS", Optima;
}

input[type=submit]:hover{
    background-color: white;
    color: black;
    transform: scale(1.5);
    transition: transform 1.5s;
}

form{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    font-family: "Trebuchet MS", Optima;
}

li{
    font-family: "Trebuchet MS", Optima;
    font-size: "5";
}


























